<div class="product-container">
    <div class="product-items">
        <figure class="product-img photo">
            <img src="{{ product.photo.url }}" alt="">
        </figure>
        <div class="product-text text">
            <p class="product-title title">{{ product.name }}</p>
            {% if product.price_offer != Null %}
                <div class="price">
                    <p class="product-price price" style="text-decoration: line-through; color: red;">${{ product.price }}</p>
                    <p style="margin: 0;">${{ product.price_offer }}</p>
                </div>
            {% else %}
                <p class="product-price price">{{ product.price }}</p>
            {% endif %}
            <button class="product-btn button" type="submit">Agregar al carrito</button>
        </div>
    </div>
</div>
